/* BELOW IS SCALE OF CLUE ANSWER */
#slider .rs-handle  {
  background-color: transparent;
  border: 8px solid transparent;
  border-right-color: rgb(29, 219, 61);
  margin: -6px 0px 0px 14px !important;
  border-width: 6px 104px 6px 4px;
}
#slider .rs-handle:before  {
  display: block;
  content: " ";
  position: absolute;
  height: 80px;
  width: 80px;
  background: rgb(223, 12, 117);
  right: -40px;
  bottom: -40px;
  border-radius: 100px;
}

#slider .rs-range-color  {
  background-color: rgb(244, 248, 7);
}
#slider .rs-path-color  {
  background-color: #F0C5C5;
}

/* BELOW IS SCALE OF TEAM ANSWER */
#sliderTwo .rs-handle  {
  background-color: transparent;
  border: 8px solid transparent;
  border-right-color: black;
  margin: -6px 0px 0px 14px !important;
  border-width: 6px 104px 6px 4px;
}
#sliderTwo .rs-handle:before  {
  display: block;
  content: " ";
  position: absolute;
  height: 80px;
  width: 80px;
  background: black;
  right: -40px;
  bottom: -40px;
  border-radius: 100px;
}

#sliderTwo .rs-range-color  {
  background-color: rgb(61, 15, 226);
}
#sliderTwo .rs-path-color  {
  background-color: rgb(155, 165, 173);
}

.center {margin:0 auto; text-align:center;}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mono {font-family: 'Major Mono Display', monospace;}


