{% extends "base_dashboard.html" %}

{% block body %}
<h1>Question Manager</h1>

<table style="width:10%">
    <tr>
      <th>ID</th> 
      <th>Left Spectrum</th>
      <th>Right Spectrum</th>
    </tr>
    <tr>
      <td>1</td>
      <td>good</td>
      <td>bad</td>
    </tr>
    <tr>
      <td>2</td>
      <td>intereting</td>
      <td>boring</td>
    </tr>
    <tr>
      <td>3</td>
      <td>above</td>
      <td>below</td>
    </tr>
    <tr>
      <td>4</td>
      <td>happy</td>
      <td>sad</td>
    </tr>
</table>

{% endblock %}