{% extends "base_dashboard.html" %}

{% block body %}
<h1>Team Manager</h1>

<table style="width:10%">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Score</th>
      <th>Game</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Dicover Universe</td>
      <td>10</td>
      <td>1</td>
    </tr>
    <tr>
      <td>1</td>
      <td>Dicover Universe</td>
      <td>10</td>
      <td>1</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Trivia Gang</td>
      <td>20</td>
      <td>2</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Trivia Gang</td>
      <td>20</td>
      <td>2</td>
    </tr>
</table>

{% endblock %}