{% extends "base_dashboard.html" %}

{% block body %}
<h1>Player Manager</h1>

<table style="width:10%">
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Is_host</th>
      <th>Team</th>
      <th>Game</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Jindou</td>
      <td>True</td>
      <td>Dicover Universe</td>
      <td>1</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Andres</td>
      <td>False</td>
      <td>Dicover Universe</td>
      <td>1</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Joman</td>
      <td>False</td>
      <td>Trivia Gang</td>
      <td>2</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Arlene</td>
      <td>True</td>
      <td>Trivia Gang</td>
      <td>2</td>
    </tr>
</table>

{% endblock %}