{% extends "base_dashboard.html" %}

{% block body %}
<h1>Player Clue Manager</h1>

<table style="width:10%">
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Clue</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Jindou</td>
      <td>cook with oil</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Andres</td>
      <td>robot should be cheap</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Joman</td>
      <td>Einstein was born at Ulm</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Arlene</td>
      <td>Front end is more interesting to paly with</td>
    </tr>
</table>

{% endblock %}