{% extends "base_dashboard.html" %}

{% block body %}
<h1>Game Manager</h1>

<table style="width:10%">
    <tr>
      <th>ID</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    <tr>
      <td>1</td>
      <td>wating</td>
      <td>start game</td>
    </tr>
    <tr>
      <td>1</td>
      <td>wating</td>
      <td>stop game</td>
    </tr>
    <tr>
      <td>2</td>
      <td>running</td>
      <td>start game</td>
    </tr>
    <tr>
      <td>2</td>
      <td>running</td>
      <td>stop game</td>
    </tr>
  </table>
{% endblock %}
