{% extends "base_cyberpunk.html" %}
{% load static %} 
    
{% block body %} 
  <div class="center">
    <br>
    <br>
    <p class="mono" style="font-size:26px;">W A V E L E N G T H</p>
    <hr>
    <p style="font-size:20px; margin-bottom: 5px;">You are in Game Room {{game.id}}</p>
    <p style="font-size:15px;"><i>you'll be assigned a team shortly</i></p> 
    <hr>
    <p id="players" style="font-size:16px;">There are {{player_count}} players!</p>

    <div id='player_list' style='padding:10px ; text-align:center'>
        {% for player in player_list %}
          <div style="font-size:15px;" id='{{ player.username}}'>{{ player.username}}</div> 
            {% if player.is_host == True %} <p> ^^ HOST ^^</p> {% endif %}
        {% endfor %}
    </div>

    <div style='padding:10px; text-align:center'>
        <button class="btn btn-primary" id='sort_teams_btn' type="submit" {% if player.is_host == False %} style='display:none' {%endif%}>SORT TEAMS</button>
    </div>

    {{ game_id|json_script:'json-game-id' }}
    {{ player.username|json_script:'json-username' }}
    {{ player_count|json_script:'json-player-count' }}

  </div>

<script>
    const gameID = JSON.parse(document.getElementById('json-game-id').textContent);
    const userName = JSON.parse(document.getElementById('json-username').textContent);
    const sort_teams_btn = document.getElementById('sort_teams_btn');
    
    let web_protocol
    location.protocol == "http:" ? web_protocol = "ws://" : web_protocol = "wss://"
    console.log("web_protocol", web_protocol)
    const sessionSocket = new WebSocket(
            web_protocol
            + window.location.host
            + '/ws/game_session/'
            + gameID
          );

          sessionSocket.onopen = (e) => {
            const player_count = JSON.parse(document.getElementById('json-player-count').textContent);
            console.log(player_count + " *JSON*")
            message= '';
            console.log('socket opened!');
            sessionSocket.send(JSON.stringify({
                'message': message,
                'username': userName,
                'game': gameID,
                'value': player_count,
              }));
        };

    document.addEventListener('DOMContentLoaded', () => {

        sessionSocket.onmessage = function(e) {
            console.log('message received');
            const data = JSON.parse(e.data);
            console.log(data);
            if (data.message == 'remove player'){
              document.getElementById(data.userName).remove();
              console.error(data.username + ' has left the session');
            } else if (data.message == 'team page ready'){
              console.log('sort teams')              
              window.location.href = "{% url 'app:team_creation' game_id=game.id player_id=player.id %}";                        
            } else if (data.username != userName && document.getElementById(data.username) == null) {
              document.querySelector('#player_list').innerHTML += ("<div id='" + data.username + "'>" + data.username + '</div>');
              
              document.getElementById('players').innerHTML = ("There are " + data.value + " players!");
              console.log(data.username + ' added to list'); 
            }            
          };
        
        document.beforeunload = (e) => {
          message='remove player'
          sessionSocket.send(JSON.stringify({
            'message': message,
            'username': userName,
            'game': gameID,
          }));
          document.getElementById(userName).remove();
          console.error('The socket closed unexpectedly');
          };

        const sort_teams_btn = document.getElementById('sort_teams_btn');
        sort_teams_btn.onclick = (e) =>{
          window.location.href = "{% url 'app:team_creation' game_id=game.id player_id=player.id %}";
        };
    });          
</script>
{% endblock %}
