{% extends "base_cyberpunk.html" %}
{% load static %}

{% block body %}
<center>
    <br />
    <h1> Time to guess! </h1>
    <hr />
    <h2>YOUR CLUE</h2>
    
    <h1>{{clue.clue_given}}</h1>

    <div><h4>Time remaining to enter guess: <span id="time">2:00</span></h4></div>

    <form id="teamAnswerForm" action="{% url 'app:team_answer_response_form' game_id=game_id team_id=team_id player_id=player_id turn_id=turn_id %}" method="post"> 
        {% csrf_token %} 
        <div class="row">
            <div class="col">
                <div class="center" id="slider"></div>
                <br />
                <div id="gameValue" style="display: none;"></div>
                <p style="text-align:left; width: 375px;">
                    {{clue.question.left_spectrum}}
                    <span style="float:right;">
                            {{clue.question.right_spectrum}}
                    </span>
                </p>     
            </div>
        </div>
        <br />
        <br />
        <button class="btn btn-primary" id="submitButton" type="button" style= {% if player.id != clue.player.id %} 'display:block' {% else %} 'display:none' {% endif %}>Submit</button>
    </form>

 

</center>    

<div style="width:600px; margin:0 auto;">
    <h5>Instructions:</h5>
    <ul>
        <li><h6>The dial below shows a pointer at a fixed position,</h6></li>
        <li><h6>the position indicates the level of the answer,</h6></li>
        <li><h6>If the dial is all the way to the left indicates the most extreme example for the left concept,</h6></li>
        <li><h6>while if the dial is all the way to the right is the most extreme example of the right concept..</h6></li>
        <li><h6>As a team use the dial to indicate where do you think the clue sits.</h5></li> 
    </ul>
</div>

    {{ game_id|json_script:'json-game-id' }}
    {{ player.username|json_script:'json-username' }}
    {{ player.id|json_script:'json-player-id' }}
    {{ team_id|json_script:'json-team-id' }}
    {{ team_size|json_script:'json-team-size'}}
    

<script>
    const gameID = JSON.parse(document.getElementById('json-game-id').textContent);
    const userName = JSON.parse(document.getElementById('json-username').textContent);
    const playerID = JSON.parse(document.getElementById('json-player-id').textContent);
    const teamID = JSON.parse(document.getElementById('json-team-id').textContent);
    const team_size = JSON.parse(document.getElementById('json-team-size').textContent);
    console.log(team_size + " This is team_size")
    let submit_count = 0;
    let web_protocol
    location.protocol == "http:" ? web_protocol = "ws://" : web_protocol = "wss://"
    console.log("web_protocol", web_protocol)

    const sessionSocket = new WebSocket(
            web_protocol
            + window.location.host
            + '/ws/team_session/'
            + teamID
    );

    document.addEventListener('DOMContentLoaded', () => {

        let submitButton = document.getElementById('submitButton');
        submit_count = 0;

        submitButton.onclick = (e) =>{
            teamAnswerSubmit()
        }; //eoc

        sessionSocket.onmessage = function(e) {
            console.log('message received in game_turn')
            const data = JSON.parse(e.data);
            console.log(data)
            if  (data.message == 'value change') {
                console.log('data.message == value change | SUCCESS')
                $("#slider").data("roundSlider").setValue(data.value)      
                console.log(data.value + " this is data.value in game_turn websockets after function")   
                submit_count = 0;
                document.getElementById("submitButton").disabled = false;
            }// eof if 
            if (data.message == "confirm") {
                submit_count += 1;
                console.log(submit_count + "this is submit count after clicking")
                if (submit_count == (team_size - 1)) {
                    document.getElementById('teamAnswerForm').submit();
                } //eof if
            } //eof if

        };

        function updateGameValue(sliderValue) {
            var gameValue = document.getElementById('gameValue')
            gameValue.innerHTML = sliderValue    
        } //eof

        function teamAnswerSubmit() {
            document.getElementById("submitButton").disabled = true;
            message="confirm"
                sessionSocket.send(JSON.stringify({
                    'message': message,
                    'username': userName,
                    'room': gameID,
                })); //end of sessionSocket
        } //eof

        $("#slider").roundSlider({
            sliderType: "min-range",
            radius: 130,
            width: 16,
            value: 50,
            handleSize: 0,
            handleShape: "square",
            circleShape: "half-top",
            min: 1,
            max: 100,

            drag: function (e) {
                var sliderValue = $("#slider").data("roundSlider").getValue()
                updateGameValue(sliderValue)
                message="value change"
                sessionSocket.send(JSON.stringify({
                    'message': message,
                    'username': userName,
                    'room': gameID,
                    'value': sliderValue,
                })); //end of sessionSocket
            } //end of drag function
        
        }); //end of .roundSlider 
    
       //Countdown Timer
       window.onload = function() {

        var display = document.querySelector('#time'),
        timer = new CountDownTimer(120);
    
        timer.onTick(format).onTick(timesUp).start();
    
        function timesUp() {
            if (this.expired()) {
                console.log('Times up!')
                //setTimeout(function() { timer.start(); }, 1000); //reset function, not used
    
                //force player to confirm current value
                teamAnswerSubmit()
            }
        }
    
        function format(minutes, seconds) {
            minutes = minutes < 10 ? + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;
            display.textContent = minutes + ':' + seconds;
        }
        }; //end of countdown timer

    }); //end of page load

    //countdown timer functions
    function CountDownTimer(duration, granularity) {
        this.duration = duration;
        this.granularity = granularity || 1000;
        this.tickFtns = [];
        this.running = false;
    }

    CountDownTimer.prototype.start = function() {
        if (this.running) {
            return;
        }
        this.running = true;
        var start = Date.now(),
        that = this,
        diff, obj;

        (function timer() {
            diff = that.duration - (((Date.now() - start) / 1000) | 0);

            if (diff > 0) {
                setTimeout(timer, that.granularity);
            } else {
                diff = 0;
                that.running = false;
            }

            obj = CountDownTimer.parse(diff);
            that.tickFtns.forEach(function(ftn) {
                ftn.call(this, obj.minutes, obj.seconds);
            }, that);
        }());
    };

    CountDownTimer.prototype.onTick = function(ftn) {
        if (typeof ftn === 'function') {
            this.tickFtns.push(ftn);
        }
        return this;
    };

    CountDownTimer.prototype.expired = function() {
        return !this.running;
    };

    CountDownTimer.parse = function(seconds) {
        return {
            'minutes': (seconds / 60) | 0,
            'seconds': (seconds % 60) | 0
        };
    };
</script> 

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>                            
<script src="https://cdnjs.cloudflare.com/ajax/libs/roundSlider/1.6.1/roundslider.min.js" integrity="sha512-OztPUuNsmM+BUn6NOM5EVZED6aFf/0P4V+cVwcf5iR5T58hGyIJ8XtWFd5ctuOpGytfCsxy4/9JqxeTLliXrBA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock %}
