{% extends "base_two.html" %}
{% load static %}

{% block body %}
<center>
    <h1>Wavelength</h1>
    <h1>Tournament</h1>
    <hr />
    <h2>YOUR CLUE</h2>

    <div><h4>Time remaining to enter guess: <span id="time">1:00</span></h4></div>

    <h1>{{clue.clue_given}}</h1>
   
    <form action="{% url 'app:team_answer_response_form' game_id=game_id team_id=team_id player_id=player_id turn_id=turn_id %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <div class="center" id="slider"></div>
                <br />
                <div id="gameValue"></div>
            </div>
        </div>
        <br />
        <br />
        <input id="teamAnswer" name="teamAnswer" type="submit" value="Submit">
    </form>

    <div class="left_spectrum" align="left">{{clue.question.left_spectrum}}</div>
    <div class="right_spectrum" align="right">{{clue.question.right_spectrum}}</div>

</center>    

    {{ game_id|json_script:'json-game-id' }}
    {{ player.username|json_script:'json-username' }}
    {{ team_id|json_script:'json-team-id' }}

<script>
    const gameID = JSON.parse(document.getElementById('json-game-id').textContent);
    const userName = JSON.parse(document.getElementById('json-username').textContent);
    const teamID = JSON.parse(document.getElementById('json-team-id').textContent);
    let web_protocol
    location.protocol == "http:" ? web_protocol = "ws://" : web_protocol = "wss://"
    console.log("web_protocol", web_protocol)

    const sessionSocket = new WebSocket(
            web_protocol
            + window.location.host
            + '/ws/game_session/'
            + gameID
    );

    document.addEventListener('DOMContentLoaded', () => {

        let submitButton = document.getElementById('teamAnswer');
        var submitButtonStatus = false; 
        console.log(submitButtonStatus + " this is false before drag")

        sessionSocket.onmessage = function(e) {
            console.log('message received in game_turn')
            const data = JSON.parse(e.data);
            console.log(data)
            if  (data.message == 'value change') {
                console.log('data.message == value change | SUCCESS')
                $("#slider").data("roundSlider").setValue(data.value)      
                console.log(data.value + " this is data.value in game_turn websockets after function")  
                //add submit refresh + check if all players have submitted    
               
            } 
        };

        submitButton.addEventListener("click", () => { 
            submitButtonRefresh()
        }) //end of submit Button

        function updateGameValue(sliderValue) {
            var gameValue = document.getElementById('gameValue')
            gameValue.innerHTML = sliderValue    
        } //eof

        function submitButtonRefresh(){
            submitButtonStatus = true;
            console.log(submitButtonStatus + "this is true after drag")
        } //eof

        $("#slider").roundSlider({
            sliderType: "min-range",
            radius: 130,
            width: 16,
            value: 50,
            handleSize: 0,
            handleShape: "square",
            circleShape: "half-top",
            min: 1,
            max: 100,

            drag: function (e) {
                var sliderValue = $("#slider").data("roundSlider").getValue()
                updateGameValue(sliderValue)
                submitButtonRefresh() 
                message="value change"
                sessionSocket.send(JSON.stringify({
                    'message': message,
                    'username': userName,
                    'room': gameID,
                    'value': sliderValue,
                })); //end of sessionSocket
            } //end of drag function
        
        }); //end of .roundSlider 
    
       //Countdown Timer
       window.onload = function() {

        var display = document.querySelector('#time'),
        timer = new CountDownTimer(10);
    
        timer.onTick(format).onTick(timesUp).start();
    
        function timesUp() {
            if (this.expired()) {
                console.log('Times up!')
                //setTimeout(function() { timer.start(); }, 1000); //reset function, not used
    
                //send player to GameTurn page
                //insert windows.location.href to GameTurn page here
            }
        }
    
        function format(minutes, seconds) {
            minutes = minutes < 10 ? + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;
            display.textContent = minutes + ':' + seconds;
        }
        }; //end of countdown timer

    }); //end of page load

    //countdown timer functions
    function CountDownTimer(duration, granularity) {
        this.duration = duration;
        this.granularity = granularity || 1000;
        this.tickFtns = [];
        this.running = false;
    }

    CountDownTimer.prototype.start = function() {
        if (this.running) {
            return;
        }
        this.running = true;
        var start = Date.now(),
        that = this,
        diff, obj;

        (function timer() {
            diff = that.duration - (((Date.now() - start) / 1000) | 0);

            if (diff > 0) {
                setTimeout(timer, that.granularity);
            } else {
                diff = 0;
                that.running = false;
            }

            obj = CountDownTimer.parse(diff);
            that.tickFtns.forEach(function(ftn) {
                ftn.call(this, obj.minutes, obj.seconds);
            }, that);
        }());
    };

    CountDownTimer.prototype.onTick = function(ftn) {
        if (typeof ftn === 'function') {
            this.tickFtns.push(ftn);
        }
        return this;
    };

    CountDownTimer.prototype.expired = function() {
        return !this.running;
    };

    CountDownTimer.parse = function(seconds) {
        return {
            'minutes': (seconds / 60) | 0,
            'seconds': (seconds % 60) | 0
        };
    };
</script> 

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>                            
<script src="https://cdnjs.cloudflare.com/ajax/libs/roundSlider/1.6.1/roundslider.min.js" integrity="sha512-OztPUuNsmM+BUn6NOM5EVZED6aFf/0P4V+cVwcf5iR5T58hGyIJ8XtWFd5ctuOpGytfCsxy4/9JqxeTLliXrBA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock %}