{% extends "base_cyberpunk.html" %}
{% load static %}

{% block body %}
<div class ="center">
    <br>
    <p style="font-size:15px; margin-bottom: 5px;">{{team_name}} Current Score: {{team_score}}</p>
    <hr style="margin:12px;">
    {% if player.id == clue.player.id %}

        <p style="font-size:11px; margin-bottom: 5px;">YOUR CLUE</p>
        <p style="font-size:37px;"><b>{{clue.clue_given}}</b></p>

        <form id="teamAnswerForm" action="{% url 'app:team_answer_response_form' game_id=game_id team_id=team_id player_id=player_id turn_id=turn_id %}" method="post"> 
            {% csrf_token %} 
            <div class="center" id="slider"></div>
            <div id="gameValue" style="display: none;"></div>
            <div class="container">
                <div class="row">
                    <div class="col" style="font-size:15px;" >{{clue.question.left_spectrum}}</div>
                    <div class="col"></div>    
                    <div class="col" style="font-size:15px;" >{{clue.question.right_spectrum}}</div>    
                </div>
            </div>
        </form>

    {% else %}

        <p style="font-size:11px; margin-bottom: 5px;">{{clue.player}}'S CLUE</p>
        <p style="font-size:37px;">{{clue.clue_given}}</p>

        <form id="teamAnswerForm" action="{% url 'app:team_answer_response_form' game_id=game_id team_id=team_id player_id=player_id turn_id=turn_id %}" method="post"> 
            {% csrf_token %} 
            <div class="center" id="slider"></div>
            <div id="gameValue" style="display: none;"></div>
            <div class="container">
                <div class="row">
                    <div class="col" style="font-size:15px;" >{{clue.question.left_spectrum}}</div>
                    <div class="col"></div>    
                    <div class="col" style="font-size:15px;" >{{clue.question.right_spectrum}}</div>    
                </div>
            </div>
        </form>

    {% endif %}

    <br>
    <p style="font-size:10px;"><i>Waiting on the below....</i></p>
    
    {% if clue.player.id  == team_members.0.id %}
        <button hidden id='confirm_1' type="button" class="btn btn-primary btn-sm" disabled>{{ team_members.0 }}</button>
    {% else %}
        <button id='confirm_1' type="button" class="btn btn-primary btn-sm" disabled>{{ team_members.0 }}</button>
    {% endif %}

    {% if clue.player.id  == team_members.1.id %}
        <button hidden id='confirm_2' type="button" class="btn btn-success btn-sm" disabled style= {% if team_members.count > 1 %} 'display:inline' {% else %} 'display:none'{% endif %}>{{ team_members.1 }}</button>
    {% else %}    
        <button id='confirm_2' type="button" class="btn btn-success btn-sm" disabled style= {% if team_members.count > 1 %} 'display:inline' {% else %} 'display:none'{% endif %}>{{ team_members.1 }}</button>
    {% endif %}

    {% if clue.player.id  == team_members.2.id  %}
        <button hidden id='confirm_3' type="button" class="btn btn-danger btn-sm" disabled style= {% if team_members.count > 2 %} 'display:inline' {% else %} 'display:none'{% endif %}>{{ team_members.2 }}</button>
    {% else %}    
        <button id='confirm_3' type="button" class="btn btn-danger btn-sm" disabled style= {% if team_members.count > 2 %} 'display:inline' {% else %} 'display:none'{% endif %}>{{ team_members.2 }}</button>
    {% endif %}
    
    {% if clue.player.id  == team_members.3.id  %}
        <button hidden id='confirm_4' type="button" class="btn btn-warning btn-sm" disabled style= {% if team_members.count > 3 %} 'display:inline' {% else %} 'display:none'{% endif %}>{{ team_members.3 }}</button> 
    {% else %}    
        <button id='confirm_4' type="button" class="btn btn-warning btn-sm" disabled style= {% if team_members.count > 3 %} 'display:inline' {% else %} 'display:none'{% endif %}>{{ team_members.3 }}</button> 
    {% endif %}
 
    <hr style="margin:20px;">
    <p style="display:inline; font-size:35px; padding: 5px;" id="left_hand" onclick="emoji_left()"> 👈 </p>
    <p style="display:inline; font-size:35px; padding: 5px;" id="poop" onclick="emoji_poop()"> 💩 </p>
    <p style="display:inline; font-size:35px; padding: 5px;" id="cheers" onclick="emoji_cheers()"> 🥳 </p>
    <p style="display:inline; font-size:35px; padding: 5px;" id="party" onclick="emoji_party()"> 🎊 </p>
    <p style="display:inline; font-size:35px; padding: 5px;" id="right_hand" onclick="emoji_right()"> 👉 </p>
  
    <hr style="margin:15px;">
    <p style="font-size:22px; margin-bottom: 5px;">⏰  Remaining: <span id="time">3:00</span></p>

    <p id="instructions" style= {% if player.id != clue.player.id %} 'display:block' {% else %} 'display:none' {% endif %}>Ready to lock in the dial?</p>
    <button class="btn btn-success center" id="submitButton" type="button" style= {% if player.id != clue.player.id %} 'display:block' {% else %} 'display:none' {% endif %}>READY</button>

    {% if player.id == clue.player.id %}
        <p style="font-size:40px; margin-bottom: 5px;">🤫</p>
        <p style="margin-bottom: 5px;">This is your clue!</p>
        <p style="margin-bottom: 5px;">You're not allowed to say <b>ANYTHING</b></p>
        <p style="margin-bottom: 5px;">until the target is revealed!</p>
    {% endif %}
   
</div>   

    {{ game_id|json_script:'json-game-id' }}
    {{ player.username|json_script:'json-username' }}
    {{ player.id|json_script:'json-player-id' }}
    {{ team_id|json_script:'json-team-id' }}
    {{ team_size|json_script:'json-team-size'}}   
    {{ clue.player.id|json_script:'json-clue-player-id'}}

<script>
    const gameID = JSON.parse(document.getElementById('json-game-id').textContent);
    const userName = JSON.parse(document.getElementById('json-username').textContent);
    const playerID = JSON.parse(document.getElementById('json-player-id').textContent);
    const teamID = JSON.parse(document.getElementById('json-team-id').textContent);
    const team_size = JSON.parse(document.getElementById('json-team-size').textContent);
    const clue = JSON.parse(document.getElementById('json-clue-player-id').textContent);

    let submit_count = 0;
    let web_protocol;
    location.protocol == "http:" ? web_protocol = "ws://" : web_protocol = "wss://"

    const sessionSocket = new WebSocket(
            web_protocol
            + window.location.host
            + '/ws/team_session/'
            + teamID
    );

    document.addEventListener('DOMContentLoaded', () => {

        let submitButton = document.getElementById('submitButton');
        let left_hand = document.getElementById("left_hand");
        let poop = document.getElementById("poop");
        let cheers = document.getElementById("cheers");
        let party = document.getElementById("party");
        let right_hand = document.getElementById("right_hand");
        submit_count = 0;

        submitButton.onclick = (e) =>{
            teamAnswerSubmit()
        }; //eoc

        left_hand.onclick = (e) =>{
            emoji_left()
        }

        poop.onclick = (e) =>{
            emoji_poop()
        }

        cheers.onclick = (e) =>{
            emoji_cheers()
        }

        party.onclick = (e) =>{
            emoji_party()
        }

        right_hand.onclick = (e) =>{
            emoji_right()
        }

        sessionSocket.onmessage = function(e) {
            const confirm_1 = document.getElementById('confirm_1');
            const confirm_2 = document.getElementById('confirm_2');
            const confirm_3 = document.getElementById('confirm_3');
            const confirm_4 = document.getElementById('confirm_4');

            const data = JSON.parse(e.data);
            if  (data.message == 'value change') {
                document.getElementById("submitButton").innerHTML = "READY";
                document.getElementById("instructions").innerHTML = "Ready to lock in the dial?";
                document.getElementById("submitButton").disabled = false;
                $("#slider").data("roundSlider").setValue(data.value)       
                submit_count = 0;

                confirm_1.disabled = true;
                confirm_2.disabled = true;
                confirm_3.disabled = true;
                confirm_4.disabled = true;
            } // eof if 

            if (data.message == "confirm") {
                submit_count += 1;
                if (submit_count == (team_size - 1)) {
                    document.getElementById('teamAnswerForm').submit();
                } //eof if

                if (data.username == confirm_1.innerHTML){
                    // confirm_1.innerHTML = data.username
                    // confirm_1.innerHTML = ("&#10003;" + data.username)
                    confirm_1.removeAttribute('disabled');
                } else if (data.username == confirm_2.innerHTML){
                    // confirm_2.innerHTML = data.username
                    // confirm_2.innerHTML = ("&#10003;" + data.username)
                    confirm_2.removeAttribute('disabled');
                } else if (data.username == confirm_3.innerHTML){
                    // confirm_3.innerHTML = data.username
                    // confirm_3.innerHTML = ("&#10003;" + data.username)
                    confirm_3.removeAttribute('disabled');
                } else if (data.username == confirm_4.innerHTML){
                    // confirm_4.innerHTML = data.username
                    // confirm_4.innerHTML = ("&#10003;" + data.username)
                    confirm_4.removeAttribute('disabled');
                }; //eof if

            } //eof if

            if (data.message == "left") {
                floating({
                    content: '👈',
                    number: 5,
                    duration: 4,
                    repeat: 1,
                    direction: 'reverse'
                }); //eof floating
            } //eoif

            if (data.message == "poop") {
                floating({
                    content: '💩',
                    number: 5,
                    duration: 4,
                    repeat: 1,
                    direction: 'reverse'
                }); //eof floating
            } //eoif

            if (data.message == "cheers") {
                floating({
                    content: '🥳',
                    number: 5,
                    duration: 4,
                    repeat: 1,
                    direction: 'reverse'
                }); //eof floating
            } //eoif

            if (data.message == "party") {
                floating({
                    content: '🎊',
                    number: 5,
                    duration: 4,
                    repeat: 1,
                    direction: 'reverse'
                }); //eof floating
            } //eoif

            if (data.message == "right") {
                floating({
                    content: '👉 ',
                    number: 5,
                    duration: 4,
                    repeat: 1,
                    direction: 'reverse'
                }); //eof floating
            } //eoif

        }; //eos
        
        function updateGameValue(sliderValue) {
            var gameValue = document.getElementById('gameValue')
            gameValue.innerHTML = sliderValue    
        } //eof

        function emoji_left() {
            message="left"
                sessionSocket.send(JSON.stringify({
                    'message': message,
                    'username': userName,
                    'room': gameID,
                })); //end of sessionSocket
        } //eof
        
        function emoji_poop() {
            message="poop"
                sessionSocket.send(JSON.stringify({
                    'message': message,
                    'username': userName,
                    'room': gameID,
                })); //end of sessionSocket
        } //eof
        
        function emoji_cheers() {
            message="cheers"
                sessionSocket.send(JSON.stringify({
                    'message': message,
                    'username': userName,
                    'room': gameID,
                })); //end of sessionSocket
        } //eof
        
        function emoji_party() {
            message="party"
                sessionSocket.send(JSON.stringify({
                    'message': message,
                    'username': userName,
                    'room': gameID,
                })); //end of sessionSocket
        } //eof

        function emoji_right() {
            message="right"
                sessionSocket.send(JSON.stringify({
                    'message': message,
                    'username': userName,
                    'room': gameID,
                })); //end of sessionSocket
        } //eof
        
        function teamAnswerSubmit() {
            document.getElementById("submitButton").disabled = true;
            document.getElementById("submitButton").innerHTML = "&#10003; YOU'RE READY";
            document.getElementById("instructions").innerHTML = "Waiting for consensus..."
            message="confirm"
                sessionSocket.send(JSON.stringify({
                    'message': message,
                    'username': userName,
                    'room': gameID,
                })); //end of sessionSocket
        } //eof

        if (playerID != clue) {

            $("#slider").roundSlider({
                sliderType: "min-range",
                radius: 150,
                width: 16,
                value: 50,
                handleSize: 17,
                handleShape: "square",
                circleShape: "half-top",
                min: 1,
                max: 100,
                showTooltip: false,

                drag: function (e) {
                    var sliderValue = $("#slider").data("roundSlider").getValue()
                    updateGameValue(sliderValue)
                    message="value change"
                    sessionSocket.send(JSON.stringify({
                        'message': message,
                        'username': userName,
                        'room': gameID,
                        'value': sliderValue,
                    })); //end of sessionSocket
                } //end of drag function
            }); //end of .roundSlider 

        } else {  

            $("#slider").roundSlider({
                sliderType: "min-range",
                radius: 150,
                width: 16,
                value: 50,
                handleSize: 17,
                handleShape: "square",
                circleShape: "half-top",
                min: 1,
                max: 100,
                disabled: true,
                showTooltip: false,
            }); //end of .roundSlider 

        } //eof

       //Countdown Timer
       window.onload = function() {

        var display = document.querySelector('#time'),
        timer = new CountDownTimer(180); //change to set timer length
    
        timer.onTick(format).onTick(timesUp).start();
    
        function timesUp() {
            if (this.expired()) {
                console.log('Times up!')
                //setTimeout(function() { timer.start(); }, 1000); //reset function, not used
    
                //force player to confirm current value
                teamAnswerSubmit()
            }
        }
    
        function format(minutes, seconds) {
            minutes = minutes < 10 ? + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;
            display.textContent = minutes + ':' + seconds;
        }
        }; //end of countdown timer

    }); //end of page load

    //countdown timer functions
    function CountDownTimer(duration, granularity) {
        this.duration = duration;
        this.granularity = granularity || 1000;
        this.tickFtns = [];
        this.running = false;
    }

    CountDownTimer.prototype.start = function() {
        if (this.running) {
            return;
        }
        this.running = true;
        var start = Date.now(),
        that = this,
        diff, obj;

        (function timer() {
            diff = that.duration - (((Date.now() - start) / 1000) | 0);

            if (diff > 0) {
                setTimeout(timer, that.granularity);
            } else {
                diff = 0;
                that.running = false;
            }

            obj = CountDownTimer.parse(diff);
            that.tickFtns.forEach(function(ftn) {
                ftn.call(this, obj.minutes, obj.seconds);
            }, that);
        }());
    };

    CountDownTimer.prototype.onTick = function(ftn) {
        if (typeof ftn === 'function') {
            this.tickFtns.push(ftn);
        }
        return this;
    };

    CountDownTimer.prototype.expired = function() {
        return !this.running;
    };

    CountDownTimer.parse = function(seconds) {
        return {
            'minutes': (seconds / 60) | 0,
            'seconds': (seconds % 60) | 0
        };
    };

</script> 

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>                            
<script src="https://cdnjs.cloudflare.com/ajax/libs/roundSlider/1.6.1/roundslider.min.js" integrity="sha512-OztPUuNsmM+BUn6NOM5EVZED6aFf/0P4V+cVwcf5iR5T58hGyIJ8XtWFd5ctuOpGytfCsxy4/9JqxeTLliXrBA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock %}
