{% extends "base_cyberpunk.html" %}
{% load static %}

<style>
    {% block style %}    
    {% endblock %}
</style>

{% block body %}
 
<center>
    <br />
    <h1>Give a clue</h1>
    <div><h3>Time remaining to enter clue: <span id="time">1:00</span></h3></div>
    <h5> The dial below shows a pointer at a fixed position, 
         the position indicates the level of the answer.
         If the dial is all the way to the left indicates the most extreme example for the left concept,
         while if the dial is all the way to the right is the most extreme example of the right concept..
         You need to provide a "clue" that sits where the dial points at.
         You have two clues. </h5>
    <br />
    <button id='confirm_1' type="button" class="btn btn-primary" disabled>{{ team_members.0 }}</button>
    <button id='confirm_2' type="button" class="btn btn-success" disabled style= {% if team_members.count > 1 %} 'display:inline' {% else %} 'display:none'{% endif %}>{{ team_members.1 }}</button>
    <button id='confirm_3' type="button" class="btn btn-danger" disabled style= {% if team_members.count > 2 %} 'display:inline' {% else %} 'display:none'{% endif %}>{{ team_members.2 }}</button>
    <button id='confirm_4' type="button" class="btn btn-warning" disabled style= {% if team_members.count > 3 %} 'display:inline' {% else %} 'display:none'{% endif %}>{{ team_members.3 }}</button>
    {% comment %} team size is {{ team_members.count }} {% endcomment %}
    <br />
    <hr />

    <div id='question_1'>

        <div class="row">
            <div class="col">
                <div class="center" id="slider"></div>
                <br />
                <div id="gameGeneratedAnswer">{{generated_random_question_answer}}</div>
            </div>
        </div>

        <p style="text-align:left; width: 450px;">
            {{left_spectrum}}
            <span style="float:right;">
                {{right_spectrum}}
            </span>
        </p>
        <p><b>Timer: 3 minutes</b></p>

        {% comment %} <form action="{% url 'app:clue_form_one' %}" method="post">
            {% csrf_token %} {% endcomment %}
            <br />
                <label for="clue1">Clue1:</label>
                <input id="clue1" type="text" name="clue1">
            <br />
        <br />
        <button id='submit_clue_1' href= '#!' type="button" value="Submit"> Submit</button>
        {% comment %} onclick="this.disabled=true" {% endcomment %}
        <br />

    </div>
    <hr />

    <div id='question_2' style='display:none'>

    <div class="row">
        <div class="col">
            <div class="center" id="sliderTwo"></div>
            <br />
        </div>
    </div>

    <p style="text-align:left; width: 450px;">
        {{left_spectrum2}}
        <span style="float:right;">
            {{right_spectrum2}}
        </span>
    </p>
    <p><b>Timer: 3 minutes</b></p>
    <br>
        <label for="clue2">Please Enter Your Second Clue:</label>
        <input id="clue2" type="text" name="clue2">
    </br>
    <br>
    <input id='submit_clue_2' type="submit" value="Submit" >
    </br>
    {% comment %} </form> {% endcomment %}
    </div>

    <div id='please_wait' style='display:none'>
        <h1>Waiting for other teammates to submit their clues....</h1>
    </div>
    <br />
</center>

{% comment %} transfers context data to javascript {% endcomment %}
{{ game_id|json_script:'json-game-id' }}
{{ team_id|json_script:'json-team-id' }}
{{ player.username|json_script:'json-username' }}
{{ random_question.id|json_script:'json-random-question' }}
{{ random_question2.id|json_script:'json-random-question2' }}
{{ team_members.count|json_script:'json-team-size' }}


<script>
    const gameID = JSON.parse(document.getElementById('json-game-id').textContent);
    console.log('game id is ' + gameID)
    const teamID = JSON.parse(document.getElementById('json-team-id').textContent);
    const userName = JSON.parse(document.getElementById('json-username').textContent);
    const question1 = JSON.parse(document.getElementById('json-random-question').textContent);
    const question2 = JSON.parse(document.getElementById('json-random-question2').textContent);
    const team_size = JSON.parse(document.getElementById('json-team-size').textContent);
    console.log('team size is ' + team_size);
    let web_protocol
    location.protocol == "http:" ? web_protocol = "ws://" : web_protocol = "wss://"
    console.log("web_protocol", web_protocol)
    
    const sessionSocket = new WebSocket(
        web_protocol
        + window.location.host
        + '/ws/team_session/'
        + teamID
      );

document.addEventListener('DOMContentLoaded', () => {
    const question_1 = document.getElementById('question_1');
    const question_2 = document.getElementById('question_2');
    const submit_clue_1_btn = document.getElementById('submit_clue_1');
    const submit_clue_2_btn = document.getElementById('submit_clue_2');
    const please_wait = document.getElementById('please_wait');
    
    //BELOW SLIDER DISPLAYS 1ST RANDOM QUESTION ANSWER
    $("#slider").roundSlider({
            sliderType: "min-range",
            radius: 130,
            width: 16,
            value: '{{generated_random_question_answer}}',
            handleSize: 0,
            handleShape: "square",
            circleShape: "half-top",
            min: 1,
            max: 100,
            disabled: true,
    }); //end of .roundSlider 

    //BELOW SLIDER DISPLAYS 2ND RANDOM QUESTION
    $("#sliderTwo").roundSlider({
            sliderType: "min-range",
            radius: 130,
            width: 16,
            value: '{{generated_random_question_answer_two}}',
            handleSize: 0,
            handleShape: "square",
            circleShape: "half-top",
            min: 1,
            max: 100,
            disabled: true,
    }); //end of .roundSliderTwo
    
    submit_clue_1_btn.onclick = (e) =>{
        let clue1 = document.getElementById('clue1').value;
        question_1.style.display = 'none';
        question_2.style.display = 'block';
        var sliderValue = $("#slider").data("roundSlider").getValue()

        console.log(clue1);
        sessionSocket.send(JSON.stringify({
            'action': 'submit clue',
            'question': question1,
            'clue': clue1,
            'game' : gameID,
            'team': teamID,
            'username': userName,
            'value': sliderValue,
        }));
        return false;
    };

    submit_clue_2_btn.onclick = (e) =>{
        let clue2 = document.getElementById('clue2').value;
        question_2.style.display = 'none';
        please_wait.style.display = 'block';
        var sliderValueTwo = $("#sliderTwo").data("roundSlider").getValue()
        console.log('submitting ' + clue2);
        sessionSocket.send(JSON.stringify({
            'action': 'submit clue',
            'message': 'clue submitted',
            'question': question2,
            'clue': clue2,
            'game' : gameID,
            'team': teamID,
            'username': userName,
            'value': sliderValueTwo,
        }));
        return false;
    };

    let submit_count = 0;
    console.log(confirm_1.innerHTML)

    sessionSocket.onmessage = function(e) {
        const confirm_1 = document.getElementById('confirm_1');
        const confirm_2 = document.getElementById('confirm_2');
        const confirm_3 = document.getElementById('confirm_3');
        const confirm_4 = document.getElementById('confirm_4');
        console.log('message received');
        const data = JSON.parse(e.data);
        console.log(data);
        if (data.message == 'clue submitted'){
            if (data.username == confirm_1.innerHTML){
                confirm_1.removeAttribute('disabled');
            } else if (data.username == confirm_2.innerHTML){
                confirm_2.removeAttribute('disabled');
            } else if (data.username == confirm_3.innerHTML){
                confirm_3.removeAttribute('disabled');
            } else if (data.username == confirm_4.innerHTML){
                confirm_4.removeAttribute('disabled');
            };
            submit_count += 1;
            console.log(data.username + ' submitted their clues');
            console.log(submit_count + ' players are ready')
            if (submit_count >= team_size){
                console.log('everyone has submitted!')
                window.location.href = "{% url 'app:game_turn' game_id=game_id team_id=team_id player_id=player_id %}"
            };        
        }
    };

    //Countdown Timer
    window.onload = function() {

    var display = document.querySelector('#time'),
    timer = new CountDownTimer(10);

    timer.onTick(format).onTick(timesUp).start();

    function timesUp() {
        if (this.expired()) {
            console.log('Times up!')
            //setTimeout(function() { timer.start(); }, 1000); //reset function, not used

            //send player to GameTurn page
            //insert windows.location.href to GameTurn page here
        }
    }

    function format(minutes, seconds) {
        minutes = minutes < 10 ? + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;
        display.textContent = minutes + ':' + seconds;
    }
    };
    });

    function CountDownTimer(duration, granularity) {
        this.duration = duration;
        this.granularity = granularity || 1000;
        this.tickFtns = [];
        this.running = false;
    }

    CountDownTimer.prototype.start = function() {
        if (this.running) {
            return;
        }
        this.running = true;
        var start = Date.now(),
        that = this,
        diff, obj;

        (function timer() {
            diff = that.duration - (((Date.now() - start) / 1000) | 0);

            if (diff > 0) {
                setTimeout(timer, that.granularity);
            } else {
                diff = 0;
                that.running = false;
            }

            obj = CountDownTimer.parse(diff);
            that.tickFtns.forEach(function(ftn) {
                ftn.call(this, obj.minutes, obj.seconds);
            }, that);
        }());
    };

    CountDownTimer.prototype.onTick = function(ftn) {
        if (typeof ftn === 'function') {
            this.tickFtns.push(ftn);
        }
        return this;
    };

    CountDownTimer.prototype.expired = function() {
        return !this.running;
    };

    CountDownTimer.parse = function(seconds) {
        return {
            'minutes': (seconds / 60) | 0,
            'seconds': (seconds % 60) | 0
        };
    };

</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>                            
<script src="https://cdnjs.cloudflare.com/ajax/libs/roundSlider/1.6.1/roundslider.min.js" integrity="sha512-OztPUuNsmM+BUn6NOM5EVZED6aFf/0P4V+cVwcf5iR5T58hGyIJ8XtWFd5ctuOpGytfCsxy4/9JqxeTLliXrBA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock %}