{% extends "base_two.html" %}
{% load static %}

{% block body %}
<center>
    <h1>Wavelength</h1>
  

        <div class="row">
            <div class="col">
                <div class="center" id="slider"></div>
                <br>
                <div id="gameValue"></div>
            </div>
        </div>

</center>    

<script>
  

    document.addEventListener('DOMContentLoaded', () => {

        $("#handle2").roundSlider({
            sliderType: "min-range",
            radius: 130,
            showTooltip: false,
            width: 16,
            value: 75,
            handleSize: 0,
            handleShape: "square",
            circleShape: "half-top",

            drag: function (e) {
                var sliderValue = $("#slider").data("roundSlider").getValue()
                
            } //end of drag function
        
        }); //end of .roundSlider 
    
    }); //end of page load

</script> 

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>                            
<script src="https://cdnjs.cloudflare.com/ajax/libs/roundSlider/1.6.1/roundslider.min.js" integrity="sha512-OztPUuNsmM+BUn6NOM5EVZED6aFf/0P4V+cVwcf5iR5T58hGyIJ8XtWFd5ctuOpGytfCsxy4/9JqxeTLliXrBA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock %}


