{% extends "base_cyberpunk.html" %}
{% load static %}

{% block body %}
<div class="center">
  <br>
  <br>
  <br>
  <p class="mono" style="font-size:26px;">W A V E L E N G T H</p>
  <hr>
  <h6 style="margin:30px">To start, create your username to join an exisiting game.</h6>
  <a href="{% url 'app:game_tutorial' %}" >
    <h6 style="margin:30px; color:greenyellow">Click here to watch the tutorial</h6>
  </a>

  <form method="post">
      {% csrf_token %}
          <label>Name:</label>
          <input type="text" name="username">
        <br>
          {% for host in players %}
            {% if host.username == player_name %}
            <br>
              <p>{{host.username}} is already created, please enter another name.</p>
            {% endif %}
          {% endfor %}
        <br />
          {% comment %} <button class="btn btn-primary" type="submit" formaction="host_player_registration_form">Host Game</button> {% endcomment %}
          <button class="btn btn-primary" type="submit" formaction="join_player_registration_form">Join Game</button>
  </form>
</div>
{% endblock %}