{% extends "base_cyberpunk.html" %}
{% load static %}

{% block title %}Wavelength{% endblock %}
{% block page_title %} Team Room {% endblock %}
{% block body %} 
{% comment %} {{request.get_full_path}} {% endcomment %}

<center>
<div class="container">
    <div class="bs-docs-section">
      <div class="page header">
        <div class="row">
            <div class="col-lg-15">
                {% comment %} TEAM_NAME is a place holder for team name this may change into a form {% endcomment %}
                <br />
                <h1> Team assignation </h1>
                <h4> Locate your team and get your team together </h4>
                <hr />
            </div>
        </div>  
      </div>
    </div>
    {% comment %} the teams context will be sorted from the views {% endcomment %}
    {% for team_name in team %}
    <div class="bs-component">  
        <div  class="row">
            <div class="col-160">
              <h5 style="color:lightblue"><em>Team -- {{team_name.name}}:</em></h5>
              {%for player_name in teammates%}
                {% if player_name.team.name == team_name.name %}
                  <p><h6 style="color:pink; {% if player_name.id == player.id %} font-size:25px; {% endif %}">{% if player_name.id == player.id %} <i><b> {% endif %}{{ player_name.username }}{% if player_name.id == player.id %} </b></i> {% endif %}</h6></p>
                {% endif %}
              {%endfor%}
            </div>
        </div>
    </div>    
    {% endfor %}
</center>

        <div style='padding:10px ; text-align:center'>
            <a>
              <button class="btn btn-primary" id='start_game_btn' type="submit" {% if player.is_host == False %}style='display:none'{%endif%}>Start Game + Watch Tutorial!</button>
            </a>
            <br />
            <br />
            <p {% if player.is_host == False %} style='display:none' {%endif%}>OR Click Below To Skip Tutorial</p>
            <a>
                <button class="btn btn-primary" id='skip_start_game_btn' type="submit" {% if player.is_host == False %}style='display:none'{%endif%}>Start Game + Skip Tutorial!</button>
            </a>
        </div>

        {{ game_id|json_script:'json-game-id' }}
        {{ player.username|json_script:'json-username' }}

<script>
    const gameID = JSON.parse(document.getElementById('json-game-id').textContent);
    const userName = JSON.parse(document.getElementById('json-username').textContent);
    const start_game_btn = document.getElementById('start_game_btn');
    const skip_start_game_btn = document.getElementById('skip_start_game_btn');

    let web_protocol
    location.protocol == "http:" ? web_protocol = "ws://" : web_protocol = "wss://"
    console.log("web_protocol", web_protocol)

    document.addEventListener('DOMContentLoaded', () => {
        const sessionSocket = new WebSocket(
            web_protocol
            + window.location.host
            + '/ws/game_session/'
            + gameID
          );

        sessionSocket.onmessage = function(e) {
            console.log('onmessage');
            const data = JSON.parse(e.data);
            console.log(data);            
            if (data.message == 'start game'){
              console.log('game started!')
              window.location.href = "{% url 'app:game_tutorial' game_id=game_id team_id=team_id player_id=player.id %}"
            }    
            if (data.message == 'skip tut'){
              window.location.href = "{% url 'app:question_clue_spectrum' game_id=game_id team_id=team_id player_id=player.id %}"
            }          
        };
        
        sessionSocket.onclose = (e) => {
          console.error('The socket closed unexpectedly');
          };

        const start_game_btn = document.getElementById('start_game_btn');
        start_game_btn.onclick = (e) => {
          message='start game'
          console.log('start game!!!!')
          sessionSocket.send(JSON.stringify({
            'message': message,
            'username': userName,
            'room': gameID,
          }));
        };

        const skip_start_game_btn = document.getElementById('skip_start_game_btn');
        skip_start_game_btn.onclick = (e) => {
          message='skip tut'
          sessionSocket.send(JSON.stringify({
            'message': message,
            'username': userName,
            'room': gameID,
          }));
        } //eof

    });
</script>
{% endblock %}
