{% extends "base_cyberpunk.html" %}
{% load static %}

<style>
    {% block style %}    
    {% endblock %}
</style>

{% block body %}
 
<center>
    <br />
    <h1>Wating room</h1>

    <div id='please_wait' style='display:block'>
        <h3>Waiting for other teams to submit their guesses....</h3>
    </div>
    <br>
</center>

{% comment %} transfers context data to javascript {% endcomment %}
{{ game_id|json_script:'json-game-id' }}
{{ team_id|json_script:'json-team-id' }}
{{ player.username|json_script:'json-username' }}
{{ questions_left.count|json_script:'json-questions-left' }}


<script>
    const gameID = JSON.parse(document.getElementById('json-game-id').textContent);
    const teamID = JSON.parse(document.getElementById('json-team-id').textContent);
    const userName = JSON.parse(document.getElementById('json-username').textContent);
    const questionsLeft = JSON.parse(document.getElementById('json-questions-left').textContent);
    let web_protocol
    location.protocol == "http:" ? web_protocol = "ws://" : web_protocol = "wss://"
    console.log("web_protocol", web_protocol)
    
    const sessionSocket = new WebSocket(
            web_protocol
            + window.location.host
            + '/ws/game_session/'
            + gameID
        );

    sessionSocket.onopen = (e) => {
    message= 'finished guessing';
    console.log('socket opened!');
    sessionSocket.send(JSON.stringify({
        'message': message,
        'username': userName,
        'value': questionsLeft,
        }));
    };

document.addEventListener('DOMContentLoaded', () => {


    sessionSocket.onmessage = function(e) {
        console.log('message received');
        const data = JSON.parse(e.data);
        console.log(data);
        if (data.message == 'finished guessing'){
            console.log(data.userName + ' submitted their clues');
            console.log(questionsLeft + ' questions left to answer')
            if (data.value == 0){
                console.log('everyone has submitted!')
                window.location.href = "{% url 'app:game_end' game_id=game_id %}"
            };        
        }
    };

    });

</script>
{% endblock %}