{% comment %} This is the base page for admin pages {% endcomment %}
{% comment %} content:
dashboard
games
players
teams 
questions
player clues  {% endcomment %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" />
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" crossorigin="anonymous">
    </head>

    <body>
    
    <div class="navbar">
        <a href="dashboard">Dashboard</a>
        <div class="dropdown">
          <button class="dropbtn">Dashboard</button>
          <div class="dropdown-content">
            <a href="{% url "app:dashboard_games" %}">Games</a>
            <a href="{% url "app:dashboard_players" %}">Players</a>
            <a href="{% url "app:dashboard_teams" %}">Teams</a>
            <a href="{% url "app:dashboard_questions" %}">Questions</a>
            <a href="{% url "app:dashboard_player_clues" %}">Player Clues</a>
          </div>
        </div>
      </div>
      {% block body %}{% endblock %}
    </body>
</html>