{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" />
        <link href="{% static "css/cyberpunk.css" %}" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/roundSlider/1.6.1/roundslider.min.css" rel="stylesheet"/>
        <link href="{% static "css/scale.css" %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" crossorigin="anonymous">
    </head>

    <body>
      {% block body %}{% endblock %}
    </body>
</html>